h1 {
	font-size: 100px;
	padding-bottom: 20px;
}

h2 {
	padding-bottom: 30px;
}

body {
	margin:0;
	padding:0;
}

.jumbotron {
	background-image: url("../images/cinema.gif") !important;
	background-repeat: no-repeat !important; 
	background-position: center !important;
	background-size: cover !important;
	padding: 80px 0;
	color: white;
	background: #0C0B0A; 
	/* background-position: left;  */
}

.col-sm-4 {
	margin: 0 auto;
}

.row {
	margin: 0 100px;
}

footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	background-color: #CC220E;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
	margin-top: 30px;
}

.dropdown {
	font-size: 25px;
	margin: 0 20px;
	width: 300px; 
}

#findFilmBtn {
	font-size: 25px;
	width: 100px;
	padding: 20px;
}

#filmInput {
	font-size: 25px;
	width: 350px;
	padding: 40px 15px;
	border: solid 1px #dc3545;
	color: #dc3545;
}

.or {
	padding: 20px;
	font-size: 30px;
}

.filmBio {
	margin: 0 auto; 

}

.card {
	margin: 0 auto; 
	margin-top: 50px;
}

.card-title {
	font-size: 30px;
}

@media screen and (max-width: 900px) {
	.dropdown {
		font-size: 25px;
		margin: 0 20px;
		width: 250px; 
	}

	.row {
		margin: 0 20px;
	}
}

@media screen and (max-width: 833px) {
	.dropdown {
		font-size: 25px;
		margin: 0 20px;
		width: 220px; 
	}
	
	#findFilmBtn {
		font-size: 25px;
		width: 100px;
		padding: 20px;
	}
	
	#filmInput {
		font-size: 25px;
		width: 250px;
		padding: 40px 15px;
		border: solid 1px #dc3545;
		color: #dc3545;
	}
	
	.or {
		padding: 20px 10px;
		font-size: 25px;
	}

	.row {
		margin: 0 20px;
	}
}

@media screen and (max-width: 677px) {
	.dropdown {
		font-size: 20px;
		margin: 0 15px;
		width: 175px; 
		padding: 15px;
	}
	
	#findFilmBtn {
		font-size: 20px;
		width: 75px;
		padding: 15px;
	}
	
	#filmInput {
		font-size: 20px;
		width: 250px;
		padding: 30px 15px;
		border: solid 1px #dc3545;
		color: #dc3545;
	}
	
	.or {
		padding: 20px 10px;
		font-size: 20px;
	}

	.row {
		margin: 0 10px;
	}
}

@media screen and (max-width: 599px) {
	.dropdown {
		font-size: 20px;
		margin: 0 15px;
		width: 599px; 
	}
	
	#findFilmBtn {
		font-size: 20px;
		width: 75px;
		padding: 15px;
	}
	
	#filmInput {
		font-size: 20px;
		width: 250px;
		padding: 30px 15px;
		border: solid 1px #dc3545;
		color: #dc3545;
	}
	
	.or {
		padding: 20px 10px;
		font-size: 20px;
	}

	.row {
		margin: 0 10px;
	}
}