h1 {
	font-size: 100px;
	padding-bottom: 20px;
}

h2 {
	padding-bottom: 30px;
}

body {
	margin:0;
	padding:0;
}

.jumbotron {
	background-image: url("../images/cinema.gif") !important;
	background-repeat: no-repeat !important; 
	background-position: center !important;
	background-size: cover !important;
	padding: 80px 0;
	color: white;
	background: #0C0B0A; 
	/* background-position: left;  */
}


.search {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, 260%);
	width:80px;
	height:80px;
	background:#fff;
	box-shadow:0 5px 20px rgba(0,0,0,.5);
	border-radius:4px;
	transition:width .5s;
	overflow:hidden;
	margin-top: -50px;
	/* background-color: pink; */
}
.search.active {
	width:600px;
}
.search input {
	position:absolute;
	top:10px;
	left:10px;
	width:calc(100% - 90px);
	height:60px;
	border:none;
	outline:none;
	font-size:36px;
	padding:0 10px;
	color:#666;
	
}
.search.active .icon {
	background:#ff355a;
}
.icon {
	position:absolute;
	top:10px;
	right:10px;
	width:60px;
	height:60px;
	cursor:pointer;
	transition:.5s;
	border-radius:4px;
}
.search.active .icon:before {
	content:'';
	position:absolute;
	top:7px;
	left:13px;
	width:18px;
	height:30px;
	border:none;
	border-right:2px solid #fff;
	border-radius:0;
	transition:.5%;
	transform:rotate(45deg);
}
.search.active .icon:after {
	content:'';
	position:absolute;
	top:20px;
	left:13px;
	width:18px;
	height:30px;
	background:transparent;
	border:none;
	border-right:2px solid #fff;
	border-radius:0;
	transition:.5%;
	transform:rotate(-45deg);
}
.icon:before {
	content:'';
	position:absolute;
	top:12px;
	left:12px;
	width:24px;
	height:24px;
	background:transparent;
	border:2px solid #262626;
	border-radius:50%;
	transition:.5%;
}
.icon:after {
	content:'';
	position:absolute;
	top:25px;
	left:35px;
	width:18px;
	height:18px;
	background:transparent;
	border-left:2px solid #262626;
	border-radius:0;
	transform:rotate(-45deg);
	transition:.5%;
}

footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	background-color: #CC220E;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
	margin-top: 30px;
}

.dropdown {
	font-size: 25px;
	margin: 0 20px;
	width: 300px; 
}

#findFilmBtn {
	font-size: 25px;
	width: 100px;
	padding: 20px;
}

#filmInput {
	font-size: 25px;
	width: 350px;
	padding: 40px 15px;
	border: solid 1px #dc3545;
	color: #dc3545;
}

.or {
	padding: 20px;
	font-size: 30px;
}

.filmBio {
	margin: 0 auto; 

}

.card {
	margin: 0 auto; 
	margin-top: 50px;
}

.card-title {
	font-size: 30px;
}